html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    overflow-y: none;
    font-family: 'Catamaran', sans-serif;
    margin: 0rem !important;
    padding: 0rem !important;
    box-sizing: border-box !important;
}
.nav-link {
  color: rgb(233, 247, 43) !important;
}

.navbar{
    padding: 0.5rem 1rem !important;
    margin: 0rem !important;
    
}
#car{
    padding: 0rem !important;
    margin: 0rem 0rem !important;  
}
#aam{
    padding: 0rem !important;
    margin: 2rem 0rem !important;
}

#vm{
    padding: 0rem !important;
    margin: 2rem 0rem !important; 
}

#reach{
    padding: 0rem !important;
    margin: 0rem !important;
}

#footer{
    color: blanchedalmond;
    padding: 0rem !important;
    margin: 0rem !important;
    justify-content: space-around;
}

#connect .fab{
    color: blanchedalmond;
}

